:root {
  /* primary colors */
  --very-dark-blue: hsl(243, 87%, 12%);
  --desaturated-blue: hsl(238, 22%, 44%);

  /* neutral colors */
  --bright-blue: hsl(224, 93%, 58%);
  --moderate-cyan: hsl(170, 45%, 43%);

  /* neutral colors */
  --light-grayish-blue: hsl(240, 80%, 98%);
  --light-gray: hsl(0, 0%, 75%);

  /* typography - Headings, Call-to-actions, Header Navigation */
  --raleway: 'Raleway', sans-serif;

  /* typography for body */
  --open-sans: 'Open Sans', sans-serif;
}


.font-h1 {
  color: var(--very-dark-blue);
  font-family: var(--raleway);
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 20px;
  font-size: 40px;
}

.font-2 {
  color: var(--very-dark-blue);
  font-family: var(--open-sans);
  margin-bottom: 20px;
  font-size: 18px;
}

body, p, h1, h2, h3, img, a, blockquote {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  padding: 32px;
  justify-self: center;
}

.description {
  justify-self: center;
}

.btn {
  background-color: var(--bright-blue);
  padding: 8px 50px;
  border: none;
  border-radius: 4px;
}

.btn:hover {
  background-color: hsl(224, 96%, 68%);
  transition-duration: 300ms;
  cursor: pointer;
}

@media (max-width: 800px) {
  .content {
    grid-template-columns: 1fr;
  }

  .btn {
    padding: 8px 115px;
  }
}